:root {
    box-sizing: border-box;
}

* {
    margin: 0;
}

#canvas {
    background: white;
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    /* The size variable comes from js file */
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    border: .1px solid gray;
}

button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

#currentColor {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin-top: 10px;
}