:root {
    --size: 16;
    box-sizing: border-box;
}

* {
    margin: 0;
}

#canvas {
    width: 500px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
}

.cell {
    border: .1px solid gray;
}

.cell:hover {
    background-color: orange;
}